$colorPrimary: #333;
$colorSecondary:#949494;
$bgPrimary:#fff;
$btnPrimary:#333;
$btnSecondary:#FFBD54;
$btnPrimaryActive:#33333399;
$btnPrimaryHover:#333333cc;
$btnSecondaryActive:#ffbd5499;
$btnSecondarHover:#ffbd54cc;
$fontFamily:'Future PT';
