/* INFORMED STYLE START */ 
.informed{
    width: 100%;
    margin-bottom: 216px;
    padding: 80px 0 120px 0;
    background-image: url('../assets/images/informed-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: calc(50%);
    font-family: $fontFamily;
    
    &-content{
        width: 100%;
        max-width: 544px;
        margin-left: 220px;
        padding: 170px 0 88px 0;
        
        &__title{
            margin-bottom: 40px;
            color: #FFF;
            font-size: 48px;
            font-weight: 700;
            line-height: 20px;
        }
        
        &__form{
            display: flex;
            align-items: center;
        }
        
        &__input{
            width: 100%;
            max-width: 335px;
            margin-right: 21px;
            padding: 18px 0 12px 22px;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            border-radius: 5px;
            background-color: #FFF;
            border: none;
            outline: none;

            &::placeholder{
                color: $colorSecondary;
            }
        }
        
        &__btn{
            padding: 15px 51px 14px 53px;
            color: #FFF;
            font-size: 16px;
            font-weight: 500;
            line-height: normal;
            border: none;
            border-radius: 3px;
            background-color: #333;
            cursor: pointer;
            
            &:active{
                opacity: .6;
            }
        }
    }
}

/* INFORMED RESPONSIVE STYLE START */ 
@media only screen and (max-width: 1250px){
    .informed{
        background-image: url('../assets/images/informed-bg.png');
        background-position: calc(50% - 90px);

        &-content{
            margin-left: 140px;
        }
    }
}

@media only screen and (max-width: 1000px){
    .informed{
        background-image: url('../assets/images/informed-bg.png');
        background-position: calc(50% - 140px);

        &-content{
            margin-left:40px;
        }
    }
}

@media only screen and (max-width: 1000px){
    .informed{
        background-image: url('../assets/images/mask-bg.png');
        background-position: calc(50% - 140px);

        &-content{
            margin: 0 auto;
            padding: 0;

            &__btns{
                flex-wrap: wrap;
            }
        }
    }
}

@media only screen and (max-width:550px){

    .informed{
        margin-bottom: 50px;

        &-content{

            &__title{
                line-height: 60px;
                padding-left: 40px;
            }

            &__form{
                flex-direction: column;
                align-items: center;
            }

            &__input{
                margin-bottom: 20px;
                margin-right: 0;
            }
        }
    }
}
/* INFORMED RESPONSIVE STYLE END */ 

/* INFORMED STYLE END */ 